*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("https://media.discordapp.net/attachments/983981102244982785/984065661783404634/background.jpg?width=927&height=609");
    background-size: cover;
}

.container{
    width: 65%;
    margin: auto;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1{
    font-size: 42px;
    color: #ebc300;
    padding: 20px;
    text-shadow: 1px 1px 2px gold;
}

header h2 {
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
}

section{
    border: 4px solid gold;
    padding: 0;
}

section h2{
    text-align: center;
    border-bottom: 4px solid gold;
    background-color: #fff7d4;
    margin-bottom: 20px;
}

.footer{
    width: 85%;
    margin: 0 auto;
}

.lorem{
    margin-left: 20px;
    margin-bottom: 10px;
}

