h1{
    text-align: center
}

fieldset{
    margin: 0 7%;
}

textarea{
    height: 50px;
    width: 100%;
}

.container{
    justify-content:flex-start;
    width: 70%;
}

#coordonnees{
    padding: 1%;
}

input{
    margin: 1%;
}


legend{
    margin-left: 2%;
}

#nomPrenom input{
    width: 49%;
    margin: 0;
}

#mobileFixe input{
    width: 49%;
    margin: 1% 0;
    margin-bottom: 3%
}

#email{
    width: 99%;
    margin: 0;

}

#besoins{
    display: flex;
    padding: 1%;
}

#besoins #besoin{
    height: fit-content;
    width: 20%;
}


#footer{
    width: 88%;
    margin: auto;
}

#footer a, #footer input{
    background: #ffd7001f;
    text-decoration: none;
    width: 100%;
    border: 2px solid black;
    margin: 0 1%;

}


#envoyerReset, #retour{
    display: flex;
    text-align: center;
}
