@media screen and (max-width: 768px ){
    
    body{
        background-image: none;
    }

    .container{
        height: 100%;
        width: 90%;

    }

    .twoSide{
        flex-direction: column;
        align-items: center;
    }

    .leftSide{
        padding-left: 0;
    }

    .rightSide{
        width: 88%;
        margin: 0 auto;
    }
    
    section{
        margin: 5px;
    }
}