body{
    height: 100vh;
    margin: 0;
}

#main{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; 
    height: 100%;

}

img{
    max-height: 90%;
}

#chat{
    margin-top: 10%;
    max-width: 15%;
    overflow: scroll;
    padding: 2px;
    max-height: 70%;
}

#chat #input{
    width: 100%;
}

form{
    display: flex;
}

.bot, .me{
    margin:1%;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-style: italic;
    font-weight: bold;
    width: 90%;
}
.me{
    background-color: #cb1d1d85;

}
.bot{
    background-color: black;
}

.customButton {
    cursor: pointer;
    background-color: #0000008c;
    color: white;
}
.customButton:hover{
    background-color: white;
    color: black;

}


@media screen and (max-width:1000px) {
    #chat{
        max-width: 50%;
    }

    #main{
        flex-wrap: nowrap;
    }

    img{
        width: 50%;

    }
}
/*
    #submit{
        width: 100%;
    }
    #input{
        width: 95%;
    } 
    #ecran{
        top: 27%;
        left: 45.7%;
        background-color: #d0e4ed;
        margin-top: 13.4%;
        margin-left: 45.2%; 
        width: 8.5%;
        min-width: 165px;
        height: 10%;
        min-height: 95px;
    }
*/

